### Exercise 1
Use sets to find a way to count how many common elements the following two lists have:
``` python
x = [1,2,3,4]
y = [3,4,5,6]
```

In [9]:
x = [1,2,3,4]
y = [3,4,5,6]
x = set(x) #We are transforming the lists to sets
y = set(y)
print (x & y) #First way to do it
print (x.intersection(y)) #Second way to do it

{3, 4}
{3, 4}

### Exercise 2
In the given dictionary create a new entry named "Elizabeth" that has all the numbers that Alice and Bob have, except from the numbers that Carol and David have. Use "extend" and sets.

```python
d = {
    'Alice': [2,4,6,8,10],
    'Bob': [1,3,5,7],
    'Carol': [2,5,8,11],
    'David': [1,4,7,10]
}
```

In [31]:
d = {
    'Alice': [2,4,6,8,10],
    'Bob': [1,3,5,7],
    'Carol': [2,5,8,11],
    'David': [1,4,7,10]
}

Elizabeth = []
A = set(d['Alice'])
B = set(d['Bob'])
C = set(d['Carol'])
D = set(d['David'])

AB = A | B
CD = C | D
Elizabeth.extend(AB.difference (CD))

d ['Elizabeth'] = Elizabeth
print (d)

{'Alice': [2, 4, 6, 8, 10], 'Bob': [1, 3, 5, 7], 'Carol': [2, 5, 8, 11], 'David': [1, 4, 7, 10], 'Elizabeth': [3, 6]}